{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "parser": "scss"
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "parser": "css"
      }
    },
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "singleQuote": false,
        "parser": "json"
      }
    },
    {
      "files": ".tsx",
      "options": {
        "singleQuote": true,
        "parser": "typescript"
      }
    }
  ]
}
