/* Base Colors */
$hs-navy: #001155;

$hs-light-red: #ec0000;
$hs-mid-red: #d60000;
$hs-dark-red: #9b0000;

$hs-white: #ffffff;
$hs-light-grey: #fcfcfc;
$hs-mid-grey: #eeeeee;

$hs-light-gred: #fffcfc;

/* Highlights */
$hs-light-red-highlight: rgba(252, 132, 132, 0.4);
$hs-dark-red-highlight: rgba(151, 1, 1, 0.4);
