@import "./env/_colors";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 270px;
  max-width: 100%;

  outline: 0;
  border: none;
  border-radius: 10px;

  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;

  &.button-primary {
    background-color: $hs-dark-red;
    color: white;

    &:hover {
      background-color: $hs-dark-red;
    }
  }

  &.button-primary-ghost {
    background-color: transparent;
    border: 2px solid $hs-dark-red;
    color: $hs-dark-red;

    &:hover {
      background-color: $hs-dark-red;
      border: 2px solid $hs-dark-red;
      color: white;
    }
  }

  &.button-ghost {
    background-color: transparent;
    border: 2px solid white;
    color: white;

    &:hover {
      background-color: white;
      color: $hs-dark-red;
    }
  }
}
