@import "_import";
@import "./env/_colors";

a {
  color: $hs-dark-red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.center {
  width: 100%;
  text-align: center;
}

img {
  image-orientation: from-image;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.gallery-wrapper {
  margin-top: 40px;
  border-radius: 5px;

  .tmb {
    width: auto;
    height: auto;
    border-radius: 0;
    margin: 15px;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.219);
  }
}
