@import '_import';
@import './env/_colors';

a {
  color: $hs-dark-red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

footer div div {
  display: inline-block;
  margin: 0px 5px;
  a {
    color: $hs-mid-red;
  }
}

.center {
  width: 100%;
  text-align: center;
}
