@import './env/_colors';

section {
  padding: 60px 0 50px 0;
  position: relative;
  z-index: 1;

  .content-container {
    position: relative;

    div {
      display: inline-block;
      vertical-align: top;
    }

    > div {
      width: 100%;
      margin-bottom: 20px;
    }

    .full-width {
      margin-bottom: 40px;

      > h3 {
        text-align: center;
      }
    }
  }

  &:nth-child(even) {
    background-color: $hs-light-gred;
  }
}

.content-container {
  margin: auto;
  max-width: 1200px;
  padding: 20px;

  h2 {
    margin: 0 0 60px 0;
  }
}

@media screen and (min-width: 600px) {
  section .content-container {
    .left,
    .right {
      width: calc(50% - 10px);
    }

    .right {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  section {
    padding: 50px 0 0 0;
    .left ~ .right,
    .right ~ .left {
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .content-container {
    padding: 0px;
  }
}
